$color: (
  'black': (
    primary: #000,
  ),
  'white': (
    primary: #fff,
  ),
  'red': (
    primary: #f00,
  ),
  'blue': (
    primary: #1182fc,
  ),
  brand: (
    primary: #f2c43d,
    secondary: #f2c43d - 70,
  ),
);

$typography: (
  font: (
    base: 'Segoe UI',
  ),
  size: (
    base: 1.6,
    titlePage: 2.8,
    titleCategory: 1.8,
    titleProduct: 2.3,
  ),
);

$grid: (
  wide: (
    default: 1200,
    m: (
      width: 644,
      min-width: 740,
      max-width: 1023,
    ),
    l: (
      width: 984,
      min-width: 1024,
      max-width: 1239,
    ),
  ),
  column: (
    max: 12,
    gap: (
      default: 8,
      m: 16,
      l: 24,
    ),
    name: (
      default: c,
      m: m,
      l: l,
    ),
  ),
  breakpoint: (
    m: 740,
    l: 1113,
  ),
);

$breakpoint: (
  m: 740,
  l: 1024,
);

$color-black: map-deep-get($color, 'black', 'primary');
$color-white: map-deep-get($color, 'white', 'primary');
$color-red: map-deep-get($color, 'red', 'primary');
$color-blue: map-deep-get($color, 'blue', 'primary');
$color-primary: map-deep-get($color, 'brand', 'primary');
$color-secondary: map-deep-get($color, 'brand', 'secondary');

$color-font-black: $color-white;
$color-font-white: $color-black;
$color-font-primary: $color-white;
$color-font-secondary: $color-white;

$font-family-base: map-deep-get($typography, 'font', 'base'), Tahoma, Geneva, Verdana, sans-serif;
$font-size-base: map-deep-get($typography, 'size', 'base') * 1rem;
$font-size-titlePage: map-deep-get($typography, 'size', 'titlePage') * 1rem;
$font-size-titleCategory: map-deep-get($typography, 'size', 'titleCategory') * 1rem;
$font-size-titleProduct: map-deep-get($typography, 'size', 'titleProduct') * 1rem;

$colMax: map-deep-get($grid, 'column', 'max');
$device-tablet: convertPxToEm('m');
$device-pc: convertPxToEm('l');
