.product {
  margin-bottom: 30px;
  font-size: $font-size-base;

  &__img {
    @include border-radius(5px);

    position: relative;
    display: block;

    margin-bottom: 10px;
    padding: 5px;
    height: 325px;

    border: 1px solid rgba($color-black, 0.3);
    box-shadow: 3px 3px 5px rgba($color-black, 0.3);
    overflow: hidden;

    &::before {
      content: 'ximatrungvietphat.com';
      bottom: 28px;
    }

    &::after {
      content: 'Hotline: 0933 112 369';
      bottom: 0;
    }

    &::before,
    &::after {
      position: absolute;

      left: 0;
      right: 0;
      padding: 2px 5px;

      font-weight: 600;
      background-color: rgba($color-primary, 0.8);
      z-index: 1;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    @include screen('tablet') {
      height: 220px;
    }

    a {
      display: block;
      height: 100%;
      overflow: hidden;
    }

    img {
      @include border-radius(5px);

      transition: all ease-in-out 0.6s;

      width: 100%;
    }
  }

  &__title {
    padding: 5px 0;

    font-weight: 600;
    text-transform: uppercase;
    text-align: center;

    a {
      @extend %reset-link;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &__describe {
    $line-clamp: 2;

    font-size: 1.4rem;
    text-align: justify;

    display: -webkit-box;
    max-height: $line-clamp * 1.6rem;
    -webkit-box-orient: vertical;
    white-space: normal !important;
    -webkit-line-clamp: $line-clamp;
    line-height: 1.6rem;
  }
}
